.status {
  color: white;
  border-radius: 0.188rem;
  padding: 0.25rem 0.625rem;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  font-size: 0.6875rem;
  max-width: 6rem;
  width: 6rem;
}
